h1, p {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; }

body {
  background-color: #efefef; }

header {
  background: white;
  height: 300px;
  text-align: center;
  line-height: 300px; }
  header h1 {
    font-weight: 600;
    font-size: 2em;
    color: blue; }
