@import "vars.sass"

h1, p
    font-family: $sans-serif

body
    background-color: $color

header
    background: white
    height: 300px
    text-align: center
    line-height: 300px

    h1
        font-weight: 600
        font-size: 2em
        color: blue